section.mainWindow {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

section.mainWindow .graph{

    /* background-color: rgb(216, 73, 255); */
    width: 95%;
    height: 100vh;
    position: relative;
    
}


section.mainWindow .graph > table{
    min-width: 80vw;
    height: 100%
}

.vericalLabels > div{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.vericalLabels > div > label{
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}

:where(.css-dev-only-do-not-override-1htoz2s).ant-radio-button-wrapper:not(:first-child)::before{
    background-color: white;
    display: none;
}

section.mainWindow .tables{

    /* background-color: blue; */
    /* width: 50%; */
    height: 100%;
    margin-bottom: 50px;
   
    
}
section.mainWindow .tables .container> div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.mainWindow .tables table{
    border: 1px solid black;
}

/* границы ячеек первого ряда таблицы */
section.mainWindow .tables th {
    border: 1px solid grey;
 }
 /* границы ячеек тела таблицы */
 section.mainWindow .tables  td {
    border: 1px solid grey;
 }


 section.mainWindow .graph .names.vertical{
    display: flex;
    flex-direction: column;
 }
 section.mainWindow .graph .names.vertical > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
 }

 section.mainWindow .graph .names.vertical > div > label{
    border-radius: 5px;
    border: 1px solid #d9d9d9
 }

 
 section.mainWindow .graph .names.horizontal{
    display: flex;
    flex-direction: row;
 }